
build --cxxopt=-std=gnu++20 --host_copt=-std=gnu++20 --copt=-D_USE_MATH_DEFINES 
build --copt=-Wall --copt=-Wextra --verbose_failures

#build:rocm --action_env=CC="/opt/rocm/llvm/bin/amdclang"
#build:rocm --action_env=CXX="/opt/rocm/llvm/bin/amdclang++"

# build:rocm --crosstool_top=//crosstool:rocm-toolchain-suite
build:rocm --copt=-D__HIP_PLATFORM_AMD__ --copt=-DCOMPILE_FOR_ROCM=1 --copt=--offload-arch=gfx942 
build:rocm --copt=-D__HIP_ROCclr__=1 --copt -xhip
build:rocm --linkopt=-lamdhip64 --linkopt=-L/opt/rocm/lib

# --copt=-mllvm=-amdgpu-function-calls=false --copt -mllvm=-amdgpu-early-inline-all=true

build:release --copt=-O3 --copt=-DNDEBUG 
build:debug --copt=-O2 --copt=-g
